@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root {
    --orange-color: #ffa500;
}

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all 0.2s linear;
}

*::selection { 
    background: var(--orange-color);
    color: #fff;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    background: var(--orange-color);
    color: #fff;
    padding: 0.8rem 3rem;
    border: 0.2rem solid var(--orange);
    cursor: pointer;
    font-size: 1.7rem;
    border-radius: 6px;
}

.btn:hover{
    background: rgba(255,165,0,0.2);
    color: var(--orange-color);
}

section{
    padding: 2rem 9%;
}

.heading{
    text-align: center;
    padding: 2.5rem 0;
}

.heading span{
    font-size: 3.5rem;
    background: rgba(225, 165, 0, 0.2);
    color: var(--orange-color);
    border-radius: 0.5rem;
    padding: 0.2rem 1rem;
}

.heading span.space{
    background: none;
}

